* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

.mypage-container {
	width: 1200px;
	margin: 0 auto;
}

section {
	padding-top: 100px;
}

/* 탭메뉴 */
.mypage-container ul.tabs {
	width: 20%;
	float: left;
}

.mypage-container ul.tabs li {
	background: none;
	color: #222;
	padding: 10px 15px;
	cursor: pointer;
	list-style: none;
}

.mypage-container ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	width: 80%;
	display: none;
	padding: 0px 60px;
	float: right;
}

.tab-content.current {
	display: inherit;
}

.tab-content h2 {
	display: block;
	font-size: 2rem;
	margin-bottom: 30px;
}

/* 회원정보수정 */
.tab-1-container {
	width: 100%;
	display: flex;
}

#tab-1 .tab-1-left {
	width: 400px;
	height: 100%;
	float: left;
}

#tab-1 input {
	margin-bottom: 20px;
	height: auto;
	line-height: normal;
	font-family: inherit;
	border: 1px solid #999;
	border-radius: 0;
	outline-style: none;
	padding : 3px 5px;
}

#tab-1 input[type="submit"] {
	display: block;
}

#tab-1 label {
	display: block;
	font-size: 0.8rem;
	margin-bottom: 5px;
}

#tab-1 .tab-1-right {
	float: right;
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
}

#tab-1 .tab-1-right p{
	margin-bottom: 5px;	
}
#tab-1 .profileImg {
	width: 200px;
	height: 200px;
	box-sizing: content-box;
	overflow: hidden;
}

.tab-1-right input{
	margin-left : 100px; 
	width : 100px;
}

#submitBtn {
	padding: 10px 20px;
	background: transparent;
	border: 1px solid black;
	cursor: pointer;
}

#profile {
	width: 200px;
	height: 200px;
}

/* 팔로우 목록 */
#tab-2 a{
	color : black;
	text-decoration: none;
	font-weight: 500;
}

#tab-2 a:hover{
	background-color: rgba(0,0,0,0.2);
	padding : 3px 8px;
	border-radius: 5px;
}

#tab-2 span{
	font-size: 0.8rem;
}

.follow-row{
	margin-bottom: 5px;
}

.follow-row span{
	font-size : 0.8rem;
}

/* 후원 내역 조회 */
.tab-4-container {
	display: flex;
	width: 100%;
}

.tab-4-container input {
	display: block;
}

.tab-4-left {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.tab-4-1 {
	display: flex;
	flex: 1;
	width: 600px;
	margin-bottom: 30px;
	border: 1px solid dodgerblue;
	border-radius: 10px;
	justify-content: center;
}

.tab-4-1-1 {
	width: 50%;
	height: 50px;
}

.tab-4-1-1>span {
	display: block;
	font-size: 20px;
	text-align: center;
	align-content: center;
}

.tab-4-1-2 {
	width: 50%;
	text-align: center;
	align-content: center;
	font-size: 20px;
}

/* 후원 받은 조회 */
.tab-5-container {
	display: flex;
	width: 100%;
}

.tab-5-container input {
	display: block;
}

.tab-5-left {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.tab-5-1 {
	display: flex;
	flex: 1;
	width: 600px;
	margin-bottom: 30px;
	border: 1px solid dodgerblue;
	border-radius: 10px;
	justify-content: center;
}

.tab-5-1-1 {
	width: 50%;
	height: 50px;
}

.tab-5-1-1>span {
	display: block;
	font-size: 20px;
	text-align: center;
	align-content: center;
}

.tab-5-1-2 {
	width: 50%;
	text-align: center;
	align-content: center;
	font-size: 20px;
}