* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

button:focus, input:focus {
	outline: none;
}

section {
	width: 80%;
	margin: 0 auto;
	padding-top: 100px;
}

/* 탭메뉴 */
#artist-menu-bar {
	width: 100%;
	height: 30px;
	border: 1px solid black;
}

#artist-menu-bar li {
	list-style: none;
	float: left;
	margin-right: 20px;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.tabCurrent {
	background: #ededed;
	color: #222;
}

.none {
	display: none;
}
/* 컨텐츠 출력 */
.left-wrapper {
	width: 80%;
	float: left;
	padding: 50 30;
	overflow-y: scroll;
}

.tab-content {
	display: none;
	background: #ededed;
	padding: 15px;
	margin-bottom: 20px;
}

.tab-content h2 {
	display: block;
	padding: 10px;
}

.tab-content.tabCurrent {
	display: inherit;
}

.music_del_btn, .uploadBtn {
	padding: 3px 5px;
	font-size: 0.7rem;
	background-color: transparent;
	border: 0.5px solid gray;
	border-radius: 5px;
	margin-bottom: 3px;
	cursor: pointer;
}

/* 응원 게시판 */
.supportTable {
	width: 100%;
}

.support-login {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	text-align: right;
}

.support-login a {
	color: dodgerblue;
}

/* 작성공간 */
.supportInsert {
	width: 100%;
	display: flex;
	margin: 50px 0;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.6);
}

.supportInsert div:nth-child(1) {
	width: 20%;
	/* border: 1px solid pink; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.supportInsert div:nth-child(3) {
	width: 10%;
	/* border: 1px solid pink; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.supportInsert div:nth-child(2) {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 작성하는 textarea */
#support_content {
	width: 100%;
	height: 50px;
	resize: none;
}

/* --------------게시판 리스트-------------- */
.support-index {
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
}

.support-index span:nth-child(1) {
	width: 20%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

.support-index span:nth-child(2) {
	width: 80%;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

.supportDetail {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.supportTable .rows {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	flex-direction: row;
	flex-wrap: wrap;
}

.rows-left, .rows-right {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.rows-right .updateRes {
	display: none;
}

.rows-right input {
	padding: 3px 5px;
	font-size: 0.7rem;
	background-color: transparent;
	border: 0.5px solid gray;
	border-radius: 5px;
	margin-bottom: 3px;
	cursor: pointer;
}

.rows-right input:hover {
	background: rgba(255, 255, 255, 0.4)
}

.rows span {
	text-align: center;
	display: inline-block;
	width: 100%;
}

.rows-center {
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* border: 3px solid pink; */
}

.change {
	width: 100%;
	resize: none;
	background: transparent;
	border: none;
}

.changeActive {
	background: white;
}

.rows-center p {
	/* border : 1px solid yellow; */
	width: 100%;
	padding: 5px;
}

.rows-center p:nth-child(2) {
	text-align: right;
	font-size: 0.7rem;
}

/* 댓글영역 */
.rows-middle {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.6);
}

.rows-middle div:nth-child(1) {
	display: flex;
}

.showReply {
	font-family: FontAwesome;
	border: none;
	cursor: pointer;
	margin: 5px;
	font-size: 0.8rem;
}

.closeReply {
	font-family: FontAwesome;
	border: none;
	cursor: pointer;
	display: none;
	margin: 5px;
}

.rows-center textarea {
	width: 100%;
	overflow: auto;
	resize: none;
	margin-bottom: 10px;
}

.replyArea {
	display: none;
}

.replyActive {
	display: block;
	width: 100%;
}

.replySection {
	padding: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 10px;
	display: flex;
}

.replySection span {
	text-align: center;
	display: inline-block;
	width: 100%;
}

.replyInsertArea {
	width: 100%;
	display: flex;
	align-items: center;
}

.supportInsert input {
	padding: 3px 5px;
	font-size: 0.7rem;
	background-color: transparent;
	border-radius: 5px;
	margin-bottom: 3px;
	cursor: pointer;
	border: 0.3px solid gray;
}

.supportInsert input:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.rows-left {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.rows-right {
	width: 10%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.rows-center {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.rows-center textarea {
	width: 100%;
	overflow: auto;
	resize: none;
}

.rows-center p {
	width: 100%;
	padding: 5px;
}

.rows-center p:nth-child(2) {
	text-align: right;
	font-size: 0.7rem;
}

.updateDone {
	display: none;
}

.comm_content {
	width: 100%;
	resize: none;
	background: transparent;
	border: none;
}

.commActive {
	background: white;
	border: 1px solid black;
}

/* 일정게시판 */
.Calendar-container {
	width: 100%;
	height: 100%;
	padding: 20px;
}

#calendar-menu {
	display: flex;
	justify-content: space-between;
}

#menu-navi-left, #menu-navi-right {
	margin-bottom: 10px;
}

#menu-navi-left {
	display: flex;
	align-items: center;
	justify-content: center;
}

#menu-navi-left button {
	padding: 3px 5px;
}

#today {
	border: none;
	border-bottom: 1px dotted black;
	cursor: pointer;
}

#prevBtn, #nextBtn {
	border: none;
	background-color: none;
	cursor: pointer;
	font-size: 1.5rem;
}

#printMonth {
	font-size: 2rem;
}

.tui-full-calendar-section-private {
	display: none;
}

.tui-full-calendar-popup-section:nth-child(3), .tui-full-calendar-popup-section:nth-child(5) {
	display: none;
}

.tui-full-calendar-popup-section:nth-child(4) div:nth-child(4) {
	display: none;
}

.tui-full-calendar-month {
	min-height: 430px !important;
}

/* 방송기록 */
.broadTable {
	width: 100%;
	padding: 20px;
}

.broadTable img {
	width: 40px;
}

.live-row {
	display: none;
}

.active {
	display: block !important;
	margin-bottom: 10px;
	border: 1px solid black;
}

.live-row a {
	text-decoration: none;
	color: black;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	padding: 0 10px;
	margin-left: 5px;
	margin-right: 5px;
}

/* 아티스트 프로필 출력 */
.right-wrapper {
	width: 20%;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#artist-profile {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 50px;
}

#artist-profile img {
	width: 150px;
	height: 150px;
}

#artist-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

#artist-desc p {
	margin-bottom: 10px;
	text-align: center;
}

#artist-desc button {
	margin-bottom: 10px;
	margin-left: 5px;
}

.followBtn, .unfollowBtn, .YfollowBtn, .YunfollowBtn, #followerBtn, #artistBtn {
	color: #3399FF;
	font-family: "Helvetica";
	font-size: 10pt;
	background-color: #ffffff;
	border: 1px solid;
	border-color: #3399FF;
	border-radius: 3px;
	width: 85px;
	height: 30px;
	cursor: pointer;
}

.YfollowBtn {
	display: none;
}

.unfollowBtn {
	display: none;
}

/* 지도 */
.map-container {
	width: 100%;
	padding: 20px;
}

/* 버튼 */
.button-container {
	width: 100%;
	position: relative;
}

.btnDefault {
	width: 100%;
	z-index: -1;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnOn {
	width: 100%;
	float: right;
	z-index: 1;
	position: absolute;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


/* 아티스트 맵  */
.artist_loc{
	display: inline-block;
}
@media screen and (max-width:768px) {
	section {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	ul.tabs {
		margin: 0px;
		padding: 0px;
		list-style: none;
	}
	ul.tabs li {
		background: none;
		color: #222;
		display: inline-block;
		padding: 5px 10px;
		cursor: pointer;
		font-size: 0.8rem;
	}
	.file_upload_block {
		display: flex;
		flex-direction: column;
	}
	.file_upload_block input {
		margin-bottom: 5px;
	}
	.tab-content h2 {
		font-size: 1.3em;
	}
	.left-wrapper {
		width: 100%;
	}
	.right-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 0px;
		margin-bottom: 30px;
	}
	#artist-profile {
		width: 150px;
		height: 150px;
		margin: 0;
	}
	#artist-desc {
		width: 60%;
		padding: 0px;
		margin: 0;
	}
	#artist-desc p {
		font-size: 1.5rem;
	}
	.file_upload_block {
		display: flex;
		flex-direction: column;
	}
	.file_upload_block input {
		margin-bottom: 5px;
	}
	.btnOn {
		display: flex;
		flex-direction: row;
	}
}


