*{
    margin: 0;
    padding: 0;

}

/* .broadcast-table{
    width : 80%;
    height : 80%;

} */

.broadcast-thumnail{
/*     width : 200px;
    height: 200px; */
    border : 1px solid red;
/*     float: left; */
}

.broadcast-name{
  /*   width : 900px;
    height: 200px; */
    border : 1px solid red;
  /*   float: right;
    padding : 20px; */
}
