* {
	margin: 0;
	padding: 0;
}

#section {
	padding-top: 80px;
	position: relative;
}

.wrapper {
	/* 	border: 2px solid black; */
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* 방송알림문구 + 버튼 */
.live_start {
	text-align: left;
	width: 1200px;
	padding: 20px;
	background-color: #ededed;
	margin: 0 auto;
}
/* 방송문구 */
.live_start>.starter_notice {
	display: inline-block;
	font-size: 37px;
	margin-bottom: 25px;
	margin-left: 40px;
}

.startbtn {
	display: inline-block;
}

.live_start>p>i {
	margin-right: 5px;
}

/* 방송목록 전체 감싸고 있는 div */
.broadcast-table {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* 방송제목, 아티스트 닉네임 a 태그 css */
.broadcast-title-wrapper>p>a, .broadcast-nick-wrapper>p>a {
	text-decoration: none;
	color: inherit;
}

/* foreach 문 돌면서 생성되는 큰 div */
.brolist_wrapper {
	width: 200px;
	margin: 40px;
	position: relative;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
	box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.3);
	margin: 40px;
}

.brolist_wrapper:hover {
	transform: translateY(-0.5rem) scale(1.0125);
}
/* 사진크기 */
.broadcast-mainimg {
	width: 100%;
	height: 100%;
}
/* 사진 우측 라이브알림img */
.liveimg {
	height: 18px;
	float: right;
	margin: 5px;
	position: absolute;
	right: 1%;
}
/* 방송목록사진 */
.broadcast-thumnail {
	height: 170px;
}

/* 방송 전체적인 설명 css */
.broadcast-name {
	text-align: left;
	border-top: 1px solid #ededed;
	padding: 15px;
}
/* 방송제목 */
.broadcast-title-wrapper>p>a {
	font-size: 23px;
	font-weight: 500;
	color: #515151;
}

.broadcast-nick-wrapper>p>i {
	margin-right: 5px;
}

.broadcast-title-wrapper>p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* 아티스트닉네임, 방송내용 */
.broadcast-nick-wrapper>p>a, .broadcast-content,
	.broadcast-category-wrapper>p {
	font-size: 15px;
	color: #515151;
}
/* 방송내용 css */
.broadcast-content {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
	height: 20px;
}

/* 방송하기 버튼 앞 이모티콘 */
.live_start>.starter_btn {
	display: inline-block;
	font-size: 30px;
	margin-left: 7px;
	cursor: pointer;
}

/* 방송하기 버튼*/
#broadgo {
	border: none;
	cursor: pointer;
	font-size: 25px;
}
.starter_btn:hover, input:hover{
	color: 	#4682B4;
}