@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

#main_title {
	width: 100%;
	margin-bottom: 2vh;
	color: white;
}

.broad_radius{
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1vh 2vw;
}

.broad{
	display:flex;
	margin: 2vh auto;
}

#broad_tab_1{
	margin-bottom: 2vw;
}

#broad_tab_1 > span {
	font-size: 1.5vw;
	color: white;	
}
#broad_tab_1 > span:first-child{
	font-weight: bold;
}

.broad > input, .broad > textarea, .broad> select{
	display: block;
	width: 80%;
 	border: none;
	border-radius: 5px;
}

label{
	display: block;
	width: 5vw;
	color: white;
}

.goJoinBtn{
	width: 20vw;
	height: 5vh;
	line-height: 40px;
	border: 1px #3399dd solid;
	text-align: center;
	color: white;
	transition: all 0.9s, color 0.3;
}
	


.goJoinBtn:hover{
	color: black;
	background-color: white;
	transition: all 0.9s, color 0.1;
}

video {
	height: 100%;
	margin: 0;
	padding: 0;
	object-fit: fill;
}
#section1 {
	width: 100%;
	height: 100vh;
	border: 3px solid black;
	background-image: url('../img/broadcast_back.png');
}

#section2 {
	width: 80%;
	height: 100vh;
	display: flex;
	padding-top: 12vh;
	display : none;
	margin: 0 auto;
}

#section2_left {
	width: 75%;
	margin-right: 1vw;
}

#section2_right {
	width: 25%;
	height: 95%;
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: #ecf0f1;
	padding-bottom: 10px;
}

#local-videos-container {
	width: 100%;
	height : 80%;
	background-color : #333;
	margin-bottom: 2vh;
	border-radius: 5px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#local-videos-container video{
	width : 100%;
}
#profileSection {
	display: flex;
	width: 100%;
}

.profileImg > img{
	width: 100px;
	height: 100px;
	box-sizing: content-box;
	overflow: hidden;
	border-radius: 100px;
}

.profileSection-tab-img{
	width: 10%;
	height: auto;
}
.profileSection-tab-text{
	width: 90%;
}

#title_res{
	font-size: 2em;
}

#room_info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 300%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 500px;
	border-radius: 5px;	
}


#chat-output{
	width : 100%;
	height : 85%;
	float: left;
	overflow : scroll;
	overflow-x:hidden;
	margin-bottom: 5%;
}

/* .box {
    -ms-overflow-style: none; IE and Edge
    scrollbar-width: none; Firefox
}
.box::-webkit-scrollbar {
    display: none; Chrome, Safari, Opera
} */
#chat-input{
	width : 100%;
	height : 12%;
	float: right;
	display: flex;
	flex-direction: column;
}

.chat-btn-block{
	display: flex;
	margin-left: 3%;
}

.chat-btn-block > div > button{
	border: none;
	font-size:2em;
	margin-right:0.5vw;
}

button > i{
	border-radius:5px;
	color:white;
	background-color:gray;
}

#input-chat{
	width:100%;
	height:100%;
}
#input-text-chat{
	display:block;
	border: none;
	border-radius: 5px;
	width: 95%;
	height:100%;
	margin:0 auto;
	padding: 0 3%;
}