@charset "UTF-8";

@font-face {
  font-family: nanumSquareR;
  src: url('../font/NanumSquareR.ttf');
}
*{
	font-family: nanumSquareR;
}
#needLogin, #donaProcess {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: gray;
	background-color: rgba(0, 0, 0, .2);
	top: 0;
	left: 0;
}

#closeLogin {
	z-index: 9999;
	position: absolute;
	font-size: 2vw;
	top: 28.5%;
	left: 56%;
}

#closeLogin:hover {
	cursor: pointer;
}

#donaRound{
	position: absolute;
	display: flex;
	flex:1;
	left: 49%;
	top: 48%;
	transform: translate(-50%, -50%);
	width: 13%;
	height: 30vh;
	margin: 0 auto;
	padding-bottom: 1%;
	border-radius: 10px;
	border-color: red;
	background-color: white;
	flex-direction: column;
	justify-content: space-between;
}

#donaId{
	display:flex;
	justify-content:center;
	height: 10%;
	margin:20px auto;
}
#donaId > div{
	font-size: 1.4em;
}


#donaId > div:first-child{
	font-weight: bold;
}
#donaFirst{
	display: flex;
	height: 20%;
}

.donaPrice {
	display:block;
	width: 100px;
	height: 6vh;
	margin: 0 5%;
	text-align: center;
	border:1px solid lightgray;
	border-radius:5px;
}

.donaPrice:hover{
	background-color: lightgray;
}
#donaSecond{
	height: 30%;
	display:flex;
	flex-direction:column;
	justify-content:space-around
}

#price{
	width: 90%;
	align-self: center;
}

#donaSlideText{
	width: 25%;
}

#donaSlidePrice{
	width: 25%;
}

#donaSlidePrice-tab{
	display: flex;
	justify-content: flex-end;
}

#donaThird{
	height: auto;
	width: 100%;
	display:flex;
	justify-content:center;
}

#donaThird > button{
	margin:0 auto;
	width: 35%;
	border:1px solid lightgray;
	border-radius:5px;
}

#donaThird > button:hover{
	background-color: lightgray;
}
#donaYes, #donaNo{
	width: 6vw;
	height: 3vh;
}