@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

#main_title {
	width: 100%;
	margin-bottom: 2vh;
	color: white;
}

.broad_radius{
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1vh 2vw;
}

.broad{
	display:flex;
	margin: 2vh auto;
}

#broad_tab_1{
	margin-bottom: 2vw;
}

#broad_tab_1 > span {
	font-size: 1.5vw;
	color: white;	
}
#broad_tab_1 > span:first-child{
	font-weight: bold;
}

.broad > input, .broad > textarea, .broad> select{
	display: block;
	width: 80%;
 	border: none;
	border-radius: 5px;
}

label{
	display: block;
	width: 5vw;
	color: white;
}

.goJoinBtn{
	width: 20vw;
	height: 5vh;
	line-height: 40px;
	border: 1px #3399dd solid;
	text-align: center;
	
	color: white;
	transition: all 0.9s, color 0.3;
	/* width: 20vw;
	height: 5vh;
	color: black;
	border-radius: 5px;
	background-color: transparent; */
}
	


.goJoinBtn:hover{
	color:white;
	box-shadow: 0 80px 0 0 rgba(0,0,0,0.25) inset,
				0 -80px 0 0 rgba(0,0,0,0.25) inset;
}

/* video {
	width: 1200px;
	height: 600px;
	border-radius: 15px;
	margin: 0;
	padding: 0;
} */
#section1 {
	width: 100%;
	height: 100vh;
	border: 3px solid black;
	background-color: rgba(0, 0, 0, .8);
}

#section2 {
	width: 100%;
	height: 100vh;
	display: flex;
	padding-top: 80px;
	padding-bottom: 20px;
	padding-right : 20px;
	padding-left : 20px;
	display : none;
}

#section2_left {
	width: 70%;
	border: 3px solid yellow;
	overflow-y: scroll;
}

#local-videos-container {
	width: 100%;
	height : 80%;
	background-color : pink;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#local-videos-container video{
	width : 100%;
}
#profileSection {
	width: 100%;
	border: 3px dotted black;
}

#room_info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 300%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 500px;
	padding: 20px;	
	background-color:black;
	border-radius: 5px;	
}

#section2_right {
	width: 30%;
	height: 100%;
	border: 3px solid blueviolet;
}

#chat-output{
	width : 100%;
	height : 80%;
	background-color: red;
	float: left;
	overflow : scroll;
}

#chat-input{
	width : 100%;
	height : 20%;
	background-color: yellow;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
