*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.broadcast-table{
    width : 1200px;
    margin: 0 auto;
    padding : 50px;
}

.broadcast-thumnail{
    width : 200px;
    height: 200px;
    border : 1px solid red;
    float: left;
}

.broadcast-name{
    width : 900px;
    height: 200px;
    border : 1px solid red;
    float: right;
    padding : 20px;
}