@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

#main_title {
	width: 100%;
	border: 1px solid blue;
}

/* video {
	width: 1200px;
	height: 600px;
	border-radius: 15px;
	margin: 0;
	padding: 0;
} */
#section1 {
	width: 100%;
	height: 100vh;
	border: 3px solid black;
}

#section2 {
	width: 100%;
	height: 100vh;
	display: flex;
	padding-top: 80px;
	padding-bottom: 20px;
	padding-right : 20px;
	padding-left : 20px;
	display : none;
}

#section2_left {
	width: 70%;
	border: 3px solid yellow;
	overflow-y: scroll;
}

/* 야 변수명 틀렸짜나 ㅡㅡ  */
#local-videos-container {
	width: 100%;
	height : 80%;
	background-color : pink;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#local-videos-container video{
	width : 100%;
}
#profileSection {
	width: 100%;
	border: 3px dotted black;
}

.broad span, .broad input, .broad textarea, .broad select {
	display: block;
}

#room_info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 300%;
	margin: 0 auto;
	border: 1px solid yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 500px;
	padding: 20px;
}

#section2_right {
	width: 30%;
	height: 100%;
	border: 3px solid blueviolet;
}

#chat-output{
	width : 100%;
	height : 80%;
	background-color: red;
	float: left;
	overflow : scroll;
}

#chat-input{
	width : 100%;
	height : 20%;
	background-color: yellow;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#needlogin {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: gray;
	background-color: rgba(0, 0, 0, .5);
	top: 0;
	left: 0;
}