@charset "UTF-8";

*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    background-image: url('img/BG.jpg');
    background-size : cover;
}

input:focus{
    outline: none;
}

a{
    text-decoration: none;
}

.login-wrapper{
    padding : 60px;
    width : 320px;
    margin : auto;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

.login-wrapper label{
    display: block;
    font-size: 1rem;
}

.login-wrapper input{
    width : 200px;
}

.login-wrapper button{
    width : 100px;
    margin : 10 0 10 0 ;
}

#goLoginBtn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding : 5px 20px;
    margin-top: 10px;
}

#goLoginBtn + a{
    font-size: 0.8rem;
    font-weight: 300;
}