
	* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	max-width: 1920px;
	}
	
	.footer {
    width: 100%;
    height: 75px;
    position: absolute;
    bottom : 0px;
    padding-left : 20px;
    padding-right : 10px;
    z-index: 9999;
	}
	
	.footer_form {
		display: flex;
	}
	
	.team_wrap {
		flex: 1;
		width: 40%;
		text-align: center;
		padding-top: 8px;
	}
	
	.team {
		color: gray;
		font-size: 13pt;
		font-weight: bold;
	}
	
	.space {
		width: 88%;
	}
	
	.members {
		flex:1;
		width: 30%;
		color: gray;
		font-size: 5pt;
		text-align: center;
	}
	
	.team > a {
		color: gray;
		text-decoration: none;
		
	}
	
	.members > span > a {
		color: gray;
		text-decoration: none;
		
	}

	.members > span > a:visited {
		color: gray;
		text-decoration: none;
	}