.music-table {
	padding-top: 20px;
	padding-bottom: 20px;
}

.no_music {
	text-align: center;
}

.file_upload_block {
	border-bottom: 1px solid white;
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

.file_up {
	display: flex;
	padding-right: 50px;
}

.file_upload_wrap1 {
	display: flex;
	flex: 1;
	align-items: center;
}

.file_upload_wrap2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.file_upload_btn {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.file_upload_wrap2 input, .file_upload_wrap2 span {
	display: block;
}

audio {
	padding: 5px;
	float: left;
}

.music_tags {
	padding-left: 20px;
	padding-top: 20px;
}

.music_iconbox {
	float: left;
}

.livro_icon {
	float: left;
	width: 23px;
	height: 23px;
	border-radius: 5px;
}

.music_explain {
	margin-left: 30px;
}

.music_title_tag {
	font-size: 12pt;
}

.music_content_tag {
	font-size: 8pt;
}

.music_delbtn_block {
	text-align: center;
}

.music_nextindex {
	padding-bottom: 20px;
}

.music_nextindex::after {
	display: block;
	content: '';
	clear: both;
}