* {
	margin: 0;
	padding: 0;
}

.notice_detail_wrap {
	padding: 100px 150px;

}

.notice_title_wrap {
	float: left;
	font-size: 20px;
	display: block;
	padding-right: 15px;
	padding-bottom: 5px;
}

.notice_id_wrap {
	float: left;
	display: block;
}	
.notice_date_wrap {
	display: block;
 	float: right;
}

.notice_content_wrap {
	clear: both;
	border-top: 2px solid #ccc; 
	border-bottom : 1px solid #ccc;
	height: 400px;
	border-bottom: 1px solid #ccc;
}


.notice_btn{
	text-align: right;
}

