* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.board_list {
	padding-top: 40px;	
}
.board_list > span > i{
	margin-right: 5px;
	
}

.board_list_wrap {
	padding: 50px 90px;
}


.board_list_head, .board_list_body .item {
	font-size: 0;
	padding: 10px 0;
}

.board_list_body>div {
	text-align: center;
}

.board_list_head {
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.board_list_body .item {
	border-bottom: 1px solid #ccc;
}

.board_list_head>div, .board_list_body .item>div {
	display: inline-block;
	font-size: 14px;
	text-align: center;
}

.board_list_head>div {
	font-weight: 600;
}

.board_list .notice_no {
	width: 15%;
}

.board_list .notice_title {
	width: 55%;
}

.board_list_body div.notice_title {
	text-align: left;
}

.board_list_body:hover{
	background-color: #FFFAFA;
}
.board_list .notice_writer {
	width: 15%;
}

.board_list .notice_date {
	width: 15%;
}

.board_list_btn  {
	text-align: right;
	display: inline-block;
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

.board_list_search {
	text-align: center;
}

#paginationBox {
	display: flex;
	justify-content: center;
}


.page-items {
	list-style-type: none;
	float: left;
	margin: 5px;

	
}

.page-items a:hover {
	text-decoration: underline;
}


.board_list > span{
   font-size: 30px;
    margin-left: 44px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 500;
    
}

button:focus, input:focus {
	outline: none;
}

.noticeBtn {
	padding: 3px 5px;
    font-size: 0.8rem;
    background-color: transparent;
    border: 0.5px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.noticeSearch {
	border: 0.5px solid gray;
	border-radius: 5px;
}
