* {
	margin: 0;
	padding: 0;
}



.notice_update_wrap {
	padding: 100px 150px;

}
.notice_title_wrap {
	height: 30px;
}
.notice_title_input {
	width: 70%;
	border: none;
}

.notice_button_wrap {
	text-align:  right;
	padding-top: 5px;
}
