* {
	margin: 0;
	padding: 0;
}

.qna_detail_wrap {
	padding: 90px 150px;
}

.qna_detail_wrap > p {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 10px;
}
.qna_detail_wrap > p > i{
	margin-right: 5px;
}

.qna_title_wrap {
	float: left;
	font-size: 20px;
}

.qna_nick_wrap {
	float: right;
}

.qna_content_wrap {
	clear: both;
	border-top: 2px solid #ccc;
	height: 400px;

}
.qna_reply_nick, .qna_reply_format_date{
	display: inline-block;
	font-weight: 500
}
.qna_reply_format_date{
	font-size: 10px;
	
}
.qna_reply_content{
	font-size: 14px;
}
.qna_reply_content > textarea{
	background: transparent;
	border: none;
	resize: none;
	height : 100%;
	width: 90%;

}

.qna_reply_wrap {
	padding : 30px;
	border-top: 1px solid #ccc;
	background: #fafafa;
	
}
.qna_reply_header{
	padding: 10px;
	color: gray;
}
.qna_input_reply > textarea{
	margin-top: 30px;
	height : 70px;
	width : 90%;
}

.qna_btn {
	text-align: right;
	
}
.qnare_update_res_btn{
	display: none;
}

.qnare_btns{
	padding: 3px 5px;
    font-size: 0.8rem;
    background-color: transparent;
    border: 0.5px solid gray;
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

