* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.board_list_wrap {
	padding: 70px;
}

.board_list > span{
	font-size: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: block;
}

.board_list_head, .board_list_body .item {
	font-size: 0;
	padding: 10px 0;
}

.board_list_body>div {
	text-align: center;
}

.board_list_head {
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.board_list_body .item {
	border-bottom: 1px solid #ccc;
}

.board_list_head>div, .board_list_body .item>div {
	display: inline-block;
	font-size: 14px;
	text-align: center;
}

.board_list_head>div {
	font-weight: 600;
}

.board_list .qna_no {
	width: 10%;
}

.board_list .qna_flag {
	width: 10%;
}

.board_list .qna_title {
	width: 45%;
}

.board_list_body div.qna_title {
	text-align: left;
}

.board_list_body div.qna_title a:hover {
	text-decoration: underline;
}

.board_list .qna_writer {
	width: 15%;
}

.board_list .qna_date {
	width: 20%;
}

.board_list_footer  {
	text-align: right;

}

.board_list_search {
	text-align: center;
}
.qna_list_btn{
	padding: 3px 5px;
    font-size: 0.8rem;
    background-color: transparent;
    border: 0.5px solid gray;
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

#paginationBox {
   display: flex;
   justify-content: center;
}


.page-items {
   list-style-type: none;
   float: left;
   margin: 5px;

   
}

.page-items a:hover {
   text-decoration: underline;
}
#paginationBox {
   display: flex;
   justify-content: center;
}


.page-items {
   list-style-type: none;
   float: left;
   margin: 5px;

   
}

.page-items a:hover {
   text-decoration: underline;
}
