body{
	padding-top: 80px;
}

.wrapper{
	width : 100%;
	height: 100%;
}

.search-list {
	padding : 20px;
	display: flex;
	/* border : 1px solid black; */
	height: 50%;
}

.noSearch{
	padding-left: 30px;
}

.artist-section{
	width : 50%;
}

.artist-section p{
	padding-left: 30px;
}

.artist-section a{
	color : black;
	padding-bottom: 5px;
}

.broad-section{
	width : 50%;
}

.broad-section p{
	padding-left: 30px;
}

.broad-section a{
	color : black;
	padding-bottom: 5px;
}

.broad-section img{
	width : 30px;
}

.all-list{
	width : 100%;
	height: 50%;
	/* border : 1px solid black; */
}