/* SNS regist */
@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	max-width: 1920px;
}

/* 로그인 */
section {
	width: 100%;
	height: 100vh;
	background-image: url('../img/BG.jpg');
	background-size: cover;
}

/* placeholder 스타일 변경 */
input::placeholder {
	font-size: 0.7rem;
}
.joinChkBtn {
   background-color: transparent;
   border: 1px solid black;
   padding: 5px 20px;
   margin-bottom: 10px;
   cursor: pointer;
   text-align: center;
}

.goJoinBtn {
	background-color: transparent;
	border: 1px solid black;
	padding: 5px 20px;
	width: 200px;
	padding: 5px 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.sns-wrapper {
	padding: 60px;
	width: 320px;
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sns-wrapper h2 {
	text-align: center;
	margin-bottom: 10px;
}

.sns-wrapper input[type="text"], input[type="password"] {
	width: 200px;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.sns-wrapper input[type="text"]::placeholder, input[type="password"]::placeholder
	{
	font-family: "Font Awesome 5 Free";
}

.sns-wrapper input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder
	{
	color: white;
}