*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.mypage-container{
    width : 1200px;
    margin: 0 auto;
    padding: 30px;
}

section{
	padding-top : 100px;
}

/* 탭메뉴 */

.mypage-container ul.tabs{
	width : 20%;
	float : left;
}

.mypage-container ul.tabs li{
	background: none;
	color: #222;
	padding: 10px 15px;
	cursor: pointer;
	list-style: none;
}

.mypage-container ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	width : 80%;
	display: none;
	padding: 0px 60px;
	float : right;
}

.tab-content.current{
	display: inherit;
}

.tab-content h2{
	display : block;
	font-size: 2rem;
	margin-bottom: 30px;
}



/* 아티스트 채널 개설 */

.tab-1-container{
	width : 100%;
	display : flex;
}

#tab-1 .tab-1-left{
	width : 400px;
	height : 100%;
	float : left;
}

#tab-1 input {
	margin-bottom : 20px;
}

#tab-1 input[type="submit"]{
	display : block;
}

#tab-1 label{
	display: block;
}

#tab-1 .tab-1-right{
	float : right;	
}

#tab-1 .selectImg{
	width : 200px;
	height : 200px;
	border : 1px solid black;
	box-sizing: content-box;
}

#submitBtn{
	padding : 10px 20px;
	background: transparent;
	border : 1px solid black;
	cursor: pointer;
}


/* 회원정보수정*/
.tab-2-container {
	display: flex;
	width: 100%;
}

.tab-2-container input{
	display: block;
}

.tab-2-left{
	flex : 1;
}

.tab-2-right{
	flex : 1;
}


#tab-2 label{
	display: block;
}
.mypage-container{
	padding-top: 80px;
}

/* 팔로우 목록 */

/* 후원내역조회 */


