*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width : 100%;
    height: 60px;
    border : 1px solid black;
}

li{
    list-style: none;
}

/*  */
.mypage-container{
    width : 1200px;
    margin: 0 auto;
    padding: 20px;
}

.mypage-container ul.tabs{
	width : 20%;
	float : left;
}

.mypage-container ul.tabs li{
	background: none;
	color: #222;
	padding: 10px 15px;
	cursor: pointer;
}

.mypage-container ul.tabs li.current{
	background: #ededed;
	color: #222;
}


.tab-content{
	width : 80%;
	display: none;
	border : 1px solid black;
	padding: 15px;
	float : right;
}

.tab-content.current{
	display: inherit;
}
