* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

section {
	width: 1200px;
	margin : 0 auto;
	display: flex;
	padding-top : 100px;
	margin-bottom: 20px;
}

/* 탭메뉴 */
ul.tabs {
	width: 20%;
}

ul.tabs li {
	background: none;
	color: #222;
	padding: 10px 15px;
	cursor: pointer;
	list-style: none;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	width: 80%;
	display: none;
	padding: 0px 60px;
	float: right;
}

.tab-content.current {
	display: block;
}

.tab-content h2 {
	display: block;
	font-size: 2rem;
	margin-bottom: 30px;
}

/* 아티스트 채널 개설 */
.tab-1-container {
	width: 100%;
	display: flex;
}

#tab-1 .tab-1-left {
	width: 400px;
	height: 100%;
	float: left;
	font-size: 0.8rem;
}

#tab-1 input {
	margin-bottom: 20px;
	height: auto;
	line-height: normal;
	font-family: inherit;
	border: 1px solid #999;
	border-radius: 0;
	outline-style: none;
	padding: 3px 5px;
}

#tab-1 label {
	display: block;
	font-size: 0.8rem;
	margin-bottom: 5px;
}

#tab-1 .tab-1-right {
	float: right;
}

.tab-1-right label {
	display: block;
	width: 200px;
	text-align: center;
}

#profileImg {
	text-align: center;
	height: auto;
	line-height: normal;
	font-family: inherit;
	border: 1px solid #999;
	border-radius: 0;
	outline-style: none;
	padding: 3px 5px;
	width: 200px;
}

#tab-1 .selectImg {
	width: 200px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.1);
	box-sizing: content-box;
}

#submitBtn {
	padding: 10px 20px;
	background: transparent;
	border: 1px solid black;
	cursor: pointer;
}

/* 회원정보수정*/
.tab-2-container {
	display: flex;
	width: 100%;
}

.tab-2-left {
	flex: 1;
}

.tab-2-right {
	flex: 1;
}

#tab-2 label {
	display: block;
}

.mypage-container {
	padding-top: 80px;
}

/* 팔로우 목록 */
#tab-3 a {
	color: black;
	text-decoration: none;
	font-weight: 500;
}

#tab-3 a:hover {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 3px 8px;
	border-radius: 5px;
}

#tab-3 span {
	font-size: 0.8rem;
}

.follow-row {
	margin-bottom: 5px;
}

.follow-row span {
	font-size: 0.8rem;
}

/* 후원내역조회 */
.tab-4-container {
	display: flex;
	width: 100%;
}

.tab-4-left {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.tab-4-1 {
	display: flex;
	flex: 1;
	width: 600px;
	margin-bottom: 30px;
	border: 1px solid dodgerblue;
	border-radius: 10px;
	justify-content: center;
}

.tab-4-1-1 {
	width: 50%;
	height: 50px;
}

.tab-4-1-1>span {
	display: block;
	font-size: 20px;
	text-align: center;
	align-content: center;
}

.tab-4-1-2 {
	width: 50%;
	text-align: center;
	align-content: center;
	font-size: 20px;
}

.nick {
	width: 70px;
	height: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #D7AC87;
	background-color: #000000;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.nick:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateX(5px);
}

.chang {
	width: 95px;
	height: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #D7AC87;
	background-color: #000000;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.chang:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateX(5px);
}