<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.livro.dto.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.kh.livro.dto.BroadcastDto" alias="BroadcastDto"/>
		<typeAlias type="com.kh.livro.dto.NoticeDto" alias="NoticeDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/member-mapper.xml"/>
		<mapper resource="mybatis/broadcast-mapper.xml"/>
		<mapper resource="mybatis/notice-mapper.xml"/>
		<mapper resource="mybatis/search-mapper.xml"/>
	</mappers>
</configuration>
