<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="artistmap">

<insert id="artistmapinsert" parameterType="ArtistMapDto">
INSERT INTO ARTIST_MAP(MEMBER_ID, ARTIST_LOC)
VALUES(
#{member_id},
#{artist_loc}
)
</insert>
<update id="artistmapupdate" parameterType="ArtistMapDto">
UPDATE ARTIST_MAP
SET ARTIST_LOC = #{artist_loc}
WHERE MEMBER_ID = #{member_id}
</update>

<delete id="artistmapdelete" parameterType="String">
DELETE 
FROM ARTIST_LOC
WHERE MEMBER_ID = #{member_id}
</delete>

</mapper>
