<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="artist">

	<!-- 팔로우 -->
	<insert id="follow" parameterType="FollowDto">
		INSERT INTO FOLLOW
		VALUES ( FOLLOW_NO_SEQ.NEXTVAL, #{member_id}, #{member_nickname}, #{artist_id}, #{artist_nickname},  SYSDATE)
	</insert>

	<insert id="follower" parameterType="FollowerDto">
		INSERT INTO FOLLOWER
		VALUES (FOLLOWER_NO_SEQ.NEXTVAL, #{member_id}, #{member_nickname}, #{follower_id}, #{follower_nickname}, SYSDATE)
	</insert>
	
	<delete id="unfollow" parameterType="FollowDto">
		DELETE FROM FOLLOW
		WHERE ARTIST_ID = #{artist_id} AND MEMBER_ID = #{member_id}
	</delete>
	
	<delete id="unfollower" parameterType="FollowerDto">
		DELETE FROM FOLLOWER
		WHERE FOLLOWER_ID = #{follower_id} AND MEMBER_ID = #{member_id}
	</delete>
	
	<select id="followFlag" resultType="FollowerDto">
		SELECT *
		FROM FOLLOWER
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<!-- 응원게시판 -->
	<select id="supportList" resultType="SupportDto">
		SELECT *
		FROM SUPPORT_BOARD
		WHERE MEMBER_ID = #{member_id}
		ORDER BY SUPPORT_NO DESC
	</select>
	
	<insert id="supportInsert" parameterType="SupportDto">
		INSERT INTO SUPPORT_BOARD
		VALUES (SUPPORT_NO_SEQ.NEXTVAL, #{member_id}, #{member_nickname}, #{support_content}, SYSDATE)
	</insert>
	
	<update id="supportUpdate">
		UPDATE SUPPORT_BOARD
		SET SUPPORT_CONTENT = #{support_content}
		WHERE SUPPORT_NO = #{support_no}
	</update>
	
	<delete id="supportDelete">
		DELETE FROM SUPPORT_BOARD
		WHERE SUPPORT_NO = #{support_no}
	</delete>
	
	<!-- 프로필 사진 -->
	<select id="selectProfile" resultType="ProfileDto">
		SELECT *
		FROM PROFILE
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<!-- 댓글작성 -->
	<insert id="commInsert">
		INSERT INTO SUPPORT_COMM
		VALUES (COMM_NO_SEQ.NEXTVAL, #{support_no}, #{member_id}, #{member_nickname}, #{comm_content}, SYSDATE)
	</insert>
	
	<select id="commList" resultType="SupportCommDto">
		SELECT *
		FROM SUPPORT_COMM
		WHERE SUPPORT_NO = #{support_no}
		ORDER BY COMM_NO
	</select>
	
	<delete id="commDelete">
		DELETE FROM SUPPORT_COMM
		WHERE COMM_NO = ${comm_no}
	</delete>
	
	<update id="commUpdate" parameterType="SupportCommDto">
		UPDATE SUPPORT_COMM
		SET COMM_CONTENT = #{comm_content}
		WHERE COMM_NO = ${comm_no}
	</update>


	<!-- 아티스트 페이지 이동 -->
	<select id="selectList" resultType="MusicDto">
		SELECT MU.MUSIC_NO, MU.MEMBER_ID, ME.MEMBER_NICKNAME, MU.MUSIC_TITLE, MU.MUSIC_CONTENT, MU.MUSIC_SAVENAME, MU.MUSIC_REALNAME, MU.MUSIC_DATE
		FROM MUSIC MU
		JOIN MEMBER ME
		ON MU.MEMBER_ID = ME.MEMBER_ID
		WHERE MU.MEMBER_ID = #{member_id} 
	</select>
	
	<select id="selectOne" resultType="MusicDto">
		SELECT *
		FROM MEMBER ME
		WHERE MEMBER_ID = #{member_id} 
	</select>

	<!-- 방송기록 -->	
	<select id="broadList" resultType="BroadcastDto">
		SELECT *
		FROM BROADCAST
		WHERE MEMBER_ID = #{member_id}
	</select>

	<!-- 일정 -->
	<select id="calList" resultType="CalendarDto">
		SELECT CAL_NO, MEMBER_ID, CAL_TITLE, CAL_START, CAL_END, CAL_CATEGORY
		FROM CALENDAR
		WHERE MEMBER_ID = #{member_id}
		ORDER BY CAL_NO DESC
	</select>
	
	<insert id="calInsert">
		INSERT INTO CALENDAR
		VALUES (CAL_NO_SEQ.NEXTVAL, #{member_id}, #{cal_title}, #{cal_start}, #{cal_end}, 'time')
	</insert>
	
	<update id="calUpdate" parameterType="CalendarDto">
		UPDATE CALENDAR
		SET CAL_TITLE = #{cal_title}, CAL_START = #{cal_start}, CAL_END = #{cal_end}
		WHERE CAL_NO = #{cal_no}
	</update>
	
	<delete id="calDelete">
		DELETE FROM CALENDAR
		WHERE CAL_NO = #{cal_no}
	</delete>
	
</mapper>