<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="broadcast">

	<select id="selectList" resultType="BroadcastDto">
	   <![CDATA[ SELECT a.BROADCAST_NO, a.MEMBER_ID, a.MEMBER_PROFILE, a.BROADCAST_TITLE,
            a.BROADCAST_CONTENT, a.BROADCAST_CATEGORY, a.BROADCAST_FLAG, a.BROADCAST_STARTDATE, a.BROADCAST_ENDDATE, a.MEMBER_NICKNAME
			FROM (
				SELECT ROWNUM AS RNUM , b.* 
				FROM (
						SELECT * FROM BROADCAST 
						ORDER BY BROADCAST_NO DESC
					) b
				) a
			WHERE a.RNUM >= 1 AND RNUM <= 10
      ]]>
	</select>
	<select id="selectOne" parameterType="BroadcastDto" resultType="BroadcastDto">
		SELECT BROADCAST_NO, MEMBER_ID, MEMBER_PROFILE, BROADCAST_TITLE, BROADCAST_CONTENT,
			   BROADCAST_CONTENT, BROADCAST_CATEGORY, BROADCAST_FLAG, BROADCAST_STARTDATE, BROADCAST_ENDDATE, MEMBER_NICKNAME
		FROM BROADCAST
		WHERE BROADCAST_NO = #{broadcast_no}
	</select>
	
	<insert id="insert" parameterType="BroadcastDto">
		INSERT INTO BROADCAST
		VALUES(BROADCAST_NO_SEQ.NEXTVAL, #{member_id}, (SELECT PROFILE_SAVEDNAME FROM PROFILE WHERE MEMBER_ID = #{member_id}), 
		#{broadcast_title}, #{broadcast_content},#{broadcast_category}, 'Y', SYSDATE, NULL, #{member_nickname})
	</insert>
	
	<update id="update" parameterType="BroadcastDto">
		UPDATE BROADCAST
		SET BROADCAST_FLAG = 'N', BROADCAST_ENDDATE = SYSDATE WHERE MEMBER_ID = #{member_id}
	</update>
	
	<select id="select_profile" parameterType="String" resultType="BroadcastDto">
		SELECT PROFILE_SAVEDNAME AS MEMBER_PROFILE FROM PROFILE
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<!-- 스크롤페이징  -->
	<select id="infiniteScrollDown" resultType ="BroadcastDto">
	<![CDATA[
		SELECT a.BROADCAST_NO, a.MEMBER_ID, a.MEMBER_PROFILE, a.BROADCAST_TITLE,
            a.BROADCAST_CONTENT, a.BROADCAST_CATEGORY, a.BROADCAST_FLAG, a.BROADCAST_STARTDATE, a.BROADCAST_ENDDATE, a.MEMBER_NICKNAME
			FROM (
				SELECT ROWNUM AS RNUM , b.* 
				FROM (
						SELECT * FROM BROADCAST 
						ORDER BY BROADCAST_NO DESC
					) b
				) a
			WHERE a.RNUM > #{lastnum} AND RNUM <= #{lastnum} +10
	]]>
	</select>

</mapper>
