<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="donation">
	<select id="selectList" resultType="DonationDto">
		SELECT DONA_NO, MEMBER_ID, DONA_PRICE, DONA_DATE, DONA_NICKNAME
		FROM DONATION
	</select>
	
	<select id="selectUser" parameterType="String" resultType="DonationDto">
		SELECT DONA_NO, MEMBER_ID, DONA_PRICE, DONA_DATE, DONA_NICKNAME
		FROM DONATION
		WHERE DONA_NO = #{dona_id}
	</select>
	
	<insert id="insert" parameterType="DonationDto">
		INSERT INTO DONATION
		VALUES(DONA_NO_SEQ.NEXTVAL, #{member_id}, #{dona_price}, SYSDATE, #{dona_nickname})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM DONATION
		WHERE DONA_NO = #{dona_no}
	</delete>
	
	<select id="selectAmountByUser" parameterType="String" resultType="DonationDto">
		SELECT SUM(DONA_PRICE) AS DONA_PRICE
		FROM DONATION
		WHERE DONA_NICKNAME = #{dona_nickname}
	</select>
	
	<select id="selectAmountById" parameterType="String" resultType="HashMap">
		SELECT DONA_NICKNAME, SUM(DONA_PRICE) AS DONA_PRICE
		FROM DONATION
		WHERE MEMBER_ID = #{member_id}
		GROUP BY DONA_NICKNAME
	</select>
	
	<select id="selectDaily"  parameterType="DonationDto" resultType="HashMap">
		SELECT DONA_DATE, DONA_PRICE
		FROM(
			SELECT SUBSTR(TO_CHAR(DONA_DATE, 'MM"월" DD"일"'),1,7) DONA_DATE , SUM(DONA_PRICE) DONA_PRICE FROM DONATION
			WHERE SUBSTR(TO_CHAR(DONA_DATE, 'MM"월" DD"일"'),1,2) = #{dona_month} AND DONA_NICKNAME= #{dona_nickname}
			GROUP BY SUBSTR(TO_CHAR(DONA_DATE, 'MM"월" DD"일"'),1,7))
		ORDER BY DONA_DATE
	</select>
</mapper>
