<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="donation">
	<select id="selectList" resultType="DonationDto">
		SELECT DONA_NO, MEMBER_ID, DONA_PRICE, DONA_DATE, DONA_NICKNAME
		FROM DONATION
	</select>
	
	<select id="selectUser" parameterType="String" resultType="DonationDto">
		SELECT DONA_NO, MEMBER_ID, DONA_PRICE, DONA_DATE, DONA_NICKNAME
		FROM DONATION
		WHERE DONA_NO = #{dona_id}
	</select>
	
	<insert id="insert" parameterType="DonationDto">
		INSERT INTO DONATION
		VALUES(DONA_NO_SEQ.NEXTVAL, #{member_id}, #{dona_price}, SYSDATE, #{dona_nickname})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM DONATION
		WHERE DONA_NO = #{dona_no}
	</delete>
	
	
	<select id="selectAmountById" parameterType="String" resultType="HashMap">
		SELECT DONA_NICKNAME, SUM(DONA_PRICE) AS DONA_PRICE
		FROM DONATION
		WHERE MEMBER_ID = #{member_id}
		GROUP BY DONA_NICKNAME
	</select>
	
	<select id="selectDaily" parameterType="String" resultType="HashMap">
		SELECT TO_CHAR(DONA_DATE, 'MM"월" DD"일"') AS DONA_DATE, SUM(DONA_PRICE) AS DONA_PRICE
		FROM DONATION
		WHERE DONA_NICKNAME = #{dona_nickname} 
		AND DONA_DATE IN
		(SELECT TO_DATE('2020-01-01','YYYY-MM-DD') + LEVEL - 1 AS DONA_DATE
 	    FROM DUAL 
		CONNECT BY LEVEL &lt; (TO_DATE('2020-12-31','YYYY-MM-DD')
                   - TO_DATE('2020-01-01','YYYY-MM-DD') + 1))
		GROUP BY DONA_DATE
		ORDER BY DONA_DATE
	</select>
</mapper>
