<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

	<insert id ="uploadProfile">
		INSERT INTO PROFILE
		VALUES (PROFILE_SEQ_NO.NEXTVAL, #{member_id}, #{profile_savedname},
		#{profile_realname}, #{profile_size}, SYSDATE, 'N')
	</insert>
	
</mapper>
