<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
	
	<select id="selectList" resultType="NoticeDto">
		SELECT * 
		FROM
			(
				SELECT ROW_NUMBER() OVER (ORDER BY NOTICE_NO DESC) NUM
				, N.*
				FROM NOTICE_BOARD N
				ORDER BY N.NOTICE_NO DESC	
			)
		WHERE NUM 
		BETWEEN #{startList} +1 
		AND #{startList} + #{listSize} -1
	</select>
	
	<select id="selectSearchList" resultType="NoticeDto">
		SELECT * 
		FROM
			(
				SELECT ROW_NUMBER() OVER (ORDER BY NOTICE_NO DESC) NUM
				, N.*
				FROM NOTICE_BOARD N
				WHERE NOTICE_TITLE LIKE '%'||#{noticeKeyword}||'%'
				OR NOTICE_CONTENT LIKE '%'||#{noticeKeyword}||'%' 
				ORDER BY N.NOTICE_NO DESC	
			)
		WHERE NUM 
		BETWEEN #{startList} +1 
		AND #{startList} + #{listSize} -1
	</select>
	
	<select id="selectOne" resultType="NoticeDto" parameterType="int">
		SELECT NOTICE_NO, MEMBER_ID, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGDATE
		FROM NOTICE_BOARD
		WHERE NOTICE_NO = #{notice_no}
	</select>
	
	<insert id="insert" parameterType="NoticeDto">
		INSERT INTO NOTICE_BOARD
		VALUES(NOTICE_NO_SEQ.NEXTVAL, 'admin', #{notice_title}, #{notice_content}, SYSDATE) 		
	</insert>
	
	<update id="update" parameterType="NoticeDto">
		UPDATE NOTICE_BOARD
		SET NOTICE_TITLE = #{notice_title},NOTICE_CONTENT = #{notice_content}
		WHERE NOTICE_NO = #{notice_no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE
		FROM NOTICE_BOARD
		WHERE NOTICE_NO = #{notice_no}
	</delete>
	
	<select id="getBoardListCnt" resultType="int">
		SELECT COUNT(*) AS LISTCNT
		FROM NOTICE_BOARD
	</select>
	
	<select id="getSearchListCnt" resultType="int">
		SELECT COUNT(*) AS SEARCHLISTCNT
		FROM ( SELECT *
				FROM NOTICE_BOARD
				WHERE NOTICE_TITLE LIKE '%'||#{noticeKeyword}||'%'
				OR NOTICE_CONTENT LIKE '%'||#{noticeKeyword}||'%' )
	</select>
	
</mapper>
