<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="profile">
	
	<insert id="profileInsert" parameterType="ProfileDto">
		INSERT INTO PROFILE
		VALUES (#{member_id }, #{profile_savedname }, #{profile_realname }, 
		#{profile_path}, SYSDATE)
	</insert>
	
	<update id="roleUpdate">
		UPDATE MEMBER
		SET MEMBER_ROLE = 'A'
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="profileUpdate">
		UPDATE PROFILE
		SET PROFILE_REALNAME = #{profile_realname}, PROFILE_SAVEDNAME = #{profile_savedname}, 
		PROFILE_PATH = #{profile_path}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<select id="profileList">
		SELECT *
		FROM PROFILE
		WHERE MEMBER_ID = #{member_id }
	</select>
	
</mapper>
