<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="profile">
	
	<insert id="profileInsert" parameterType="ProfileDto">
		INSERT INTO PROFILE
		VALUES(#{member_id}, #{profile_savedname}, #{profile_realname}, SYSDATE, 'Y')
	</insert>
	
	<update id="profileUpdate" parameterType="ProfileDto">
		UPDATE PROFILE
		SET PROFILE_SAVEDNAME = #{profile_savedname}, PROFILE_REALNAME = ${profile_realname}, SYSDATE, 'Y')
		WHERE MEMBER_ID = #{member_id }
	</update>
	
</mapper>
