<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rank">

	<select id="rank" resultType="FollowerDto">
	<![CDATA[ 
		SELECT B.MEMBER_ID, B.MEMBER_NICKNAME, B.count, B.rank
		FROM (
					SELECT A.MEMBER_ID, A.MEMBER_NICKNAME, A.count, DENSE_RANK() OVER(ORDER BY count DESC) AS rank
					FROM(
							SELECT MEMBER_ID, MEMBER_NICKNAME, COUNT(*) AS count
							FROM FOLLOWER
							GROUP BY MEMBER_ID,MEMBER_NICKNAME 
							)A
			)B
		WHERE B.rank < 4
	]]> 
	</select>
	
	<select id="ranktest" resultType="HashMap">
		<![CDATA[ 
		SELECT B.MEMBER_ID, B.MEMBER_NICKNAME, B.count, B.rank
		FROM (
					SELECT A.MEMBER_ID, A.MEMBER_NICKNAME, A.count, DENSE_RANK() OVER(ORDER BY count DESC) AS rank
					FROM(
							SELECT MEMBER_ID, MEMBER_NICKNAME, COUNT(*) AS count
							FROM FOLLOWER
							GROUP BY MEMBER_ID,MEMBER_NICKNAME 
							)A
			)B
		WHERE B.rank < 4
	]]>
	</select>
	
</mapper>
