<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="/src/main/webapp/resources/css/userPage.css"> -->
<title>Document</title>
</head>
<body>
    <header>

    </header>
    
    <section>
        <div class="user-container">
            <div class="menu-wrapper">
                <ul>
                    <li><a href="#">정보수정</a></li>
                    <li><a href="#">팔로우목록</a></li>
                    <li><a href="#">후원내역조회</a></li>
                    <li><a href="#">채널개설</a></li>
                </ul>
            </div>
            <div class="right-container">

            </div>
        </div>
    </section>
</body>
</html>